<!-- Component having search box navinagtion bar -->
<div class="clear"></div>
<nav class="navigation">
    <header class="header">
        <img src="assets/logo.png" class="image" routerLink="">
        <form class="form">

            <input type="text" id="fname" placeholder="type anything to search" #box (keyup.enter)="onEnter(box.value)">
            <input type="submit" value="Search" class="search_button" (click)="onEnter(box.value)">
        </form>
        <div style=" margin-top: 29px;">
            <span class="span1">{{0+total_price | currency:'INR'}}</span>
            <span class="span2">{{0+total_quantity}}</span> &nbsp; <i class="fa fa-shopping-cart fa-2x" style="color:white" aria-setsize="5px" routerLink="/cartitems" *ngIf="btn_cart"> </i>


        </div>
        <ng-container *ngIf="enableProp != 1; else elseBlock">
            <button class="button_signup" routerLink="/registration">SignUp</button>
            <button class="button_login" routerLink="/login">Login</button>
        </ng-container>
        <ng-template #elseBlock>
            <p style="color: white; padding-top:4vh; padding-right: 0px; font-weight:bolder;">Welcome: {{loginSuccess}}</p>
            <button class="button_login" routerLink="" (click)="onLogout()">Logout</button>
        </ng-template>



    </header>
</nav>