<!-- Sidebar having the routed links for each restaurant -->
<div class="sidenav">
    <div class="list-items">
        <a [routerLink]="['/rest-1',r1]" style="font-weight: bolder;" routerLinkActive="selected" class="list-item">AdiGas</a>
        <a [routerLink]="['/rest-2',r2]" style="font-weight:bolder;" routerLinkActive="selected" class="list-item">RotiGhar</a>
        <a [routerLink]="['/rest-3',r3]" style="font-weight:bolder;" routerLinkActive="selected" class="list-item">Punjabi Rasoi</a>
        <a [routerLink]="['/rest-4',r4]" style="font-weight:bolder;" routerLinkActive="selected" class="list-item">Udupi</a>
    </div>
</div>
<div class="main">
    <router-outlet></router-outlet>
</div>