.clear
{
  clear: both; height: 20vh; 
}

.footer-clean .item.social {
  text-align:center;
}
.footer-basic {
   height:20vh;
   background-color:black;
   color:black;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    
  

  }


.item.social > a {
  font-size:30px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:1000px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:1000px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  
  opacity:0.6;
}
